@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC|Roboto&display=swap");

/*Importing all componenets file*/

@import url("components/container.css");
@import url("components/avatar.css");
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/card.css");

/*General style rules for fonts and colours */
body{
	font-family: 'Roboto', sans-serif;
	font-weight:lighter;
	font-size: 18 px;
	text-align: justify;
	margin: 0px;
}
h1, h2, h3{
	font-family: 'Noto Sans TC', sans-serif;
	font-size: bold;
}
a{
	text-decoration: none;
}